{% extends 'base.html' %}

{% block content %}
    {% if events %}
        <div align="center">
            <h1 class="mb-4">Event List</h1>
        </div>
        <div class="row">
                {% for event in events %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description|truncatewords:20 }}</p>
                                <p class="text-muted">Location : {{ event.location }}</p>
                                <p class="text-muted">Date : {{ event.date }}</p>
                                <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">See details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    {% else %}
        <div align="center">
            <h1 class="mb-4">No events available</h1>
        </div>
    {% endif %}
{% endblock %}